<tr>
  <td>
    <%= sale.name%>
  </td>
  <td>
    <%= sale.starts_on%>
  </td>
  <td>
    <%= sale.ends_on%>
  </td>
  <td>
    <% if sale.finished? %>
        <span class="btn btn-danger">Finished</span>
    <% elsif (sale.upcoming?)%>
      <span class="btn btn-warning">Upcoming</span> 
    <% else %>
      <span class="btn btn-success">Active</span>
    <% end %>
  </td>
  <td>
    <%= sale.percent_off%>
  </td>
  <td>

  </td>
</tr>